{% load staticfiles %}
<div class="modal53" id="modal53">
  <a href="#" href="https://www11.53kf.com/webCompany.php?arg=10157157&style=1&language=cn&charset=gbk&kflist=off&kf=&zdkf_type=1&referer=http%3A%2F%2Flocalhost%3A8000%2F&keyword=&tfrom=1&tpl=crystal_blue&uid=4ca94855937f6ccc88aa0e28dd6f4ef5&timeStamp=1508735867091&ucust_id="></a>
    <img src="{% static "mobile/img/book.jpeg" %}">
  </a>
  <span id="closeModal">&times;</span>
</div>

<script>
var timer = setTimeout(function() {
  modal53.style.display = 'block'
  clearTimeout(timer)
}, 3000)

closeModal.onclick = function () {
  modal53.style.display = 'none'
}
</script>

<style>
  .modal53 {
    position: fixed;
    z-index: 999;
    display: none;
    top: 20%;
    left: 16%;
    width: 68%;
    /* line-height: 1.4;
    font-size: 16px;
    text-align: center;
    color: #495060;
    background: #f8f8f8;
    border-radius: 8px; */
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);

  }
  .modal53 img {
    display: block;
    width: 100%;
  }
  /* .modal53 h2 {
    margin-bottom: 16px;
    margin-top: 8px;
    font-size: 20px;
  } */
  /* .modal53 a {
    display: block;
    margin-top: 8px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #fff;
    border-radius: 0 0 8px 8px;
    background-color: #d4380d;
  } */
  .modal53 span {
    position: absolute;
    display: block;
    top: -15px;
    right: -15px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    color: #ddd;
    background: #555;
    border-radius: 50%;
  }
</style>
