<div class="navigation {% block headroom %}headroom{% endblock %}">
  <div class="wrap">
    <div class="left">
      <a href="{% url 'home' %}"  class="nav-home {% if active_link == "home" %}active {% endif %}">
        <i class="icon"></i>
        <span class="name">首页</span>
      </a>
      <a href="{% url 'signUp' %}" class="nav-appoint">
        <i class="icon"></i>
        <span class="name">预约</span>
      </a>
    </div>
    <div class="center">
      <a href="tel:4000091108" class="nav-call">
        <i class="icon"></i>
      </a>
    </div>
    <div class="right">
      <a href="https://www11.53kf.com/webCompany.php?arg=10157157&style=1&language=cn&charset=gbk&kflist=off&kf=&zdkf_type=1&referer=http%3A%2F%2Flocalhost%3A8000%2F&keyword=&tfrom=1&tpl=crystal_blue&uid=4ca94855937f6ccc88aa0e28dd6f4ef5&timeStamp=1508735867091&ucust_id=" class="nav-im">
        <i class="icon"></i>
        <span class="name">咨询</span>
      </a>
      <a href="/m/category/礼包" class="nav-gift {% if active_link == "/m/category/礼包" %}active {% endif %}">
        <i class="icon"></i>
        <span class="name">领取</span>
      </a>
    </div>
  </div>
</div>
