{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <!-- 声明文档使用的字符编码 -->
  <meta charset='utf-8'>
  <!-- 优先使用 IE 最新版本和 Chrome -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <!-- 页面描述 -->
  <meta name="description" content="非凡教育官网"/>
  <!-- 页面关键词 -->
  <meta name="keywords" content=""/>
  <!-- 网页作者 -->
  <meta name="author" content="ffjy, zhouyutao@ffjy.org"/>
  <!-- 搜索引擎抓取 -->
  <meta name="robots" content="index,follow"/>
  <!-- 为移动设备添加 viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <!-- `width=device-width` 会导致 iPhone 5 添加到主屏后以 WebApp 全屏模式打开页面时出现黑边 http://bigc.at/ios-webapp-viewport-meta.orz -->

  <!-- iOS 设备 begin -->
  <meta name="apple-mobile-web-app-title" content="标题">
  <!-- 添加到主屏后的标题（iOS 6 新增） -->
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->

  <meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
  <!-- 添加智能 App 广告条 Smart App Banner（iOS 6+ Safari） -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <!-- 设置苹果工具栏颜色 -->
  <meta name="format-detection" content="telphone=no, email=no"/>
  <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
  <!-- 启用360浏览器的极速模式(webkit) -->
  <meta name="renderer" content="webkit">
  <!-- 避免IE使用兼容模式 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- 不让百度转码 -->
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
  <meta name="HandheldFriendly" content="true">
  <!-- 微软的老式浏览器 -->
  <meta name="MobileOptimized" content="320">
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- iOS 设备 end -->
  <meta name="msapplication-TileColor" content="#000"/>
  <!-- 网站图标 -->
  <link rel="shortcut icon" href="{% static "favicon.ico" %}">
  <!-- Windows 8 磁贴颜色 -->
  <!-- rem flexible -->
  <script src="{% static "utils/flexible/index.min.js" %}"></script>
  <link rel="stylesheet" href="{% static "utils/reset/reset.css" %}">
  <!-- rem flexible -->
  <script src="{% static "utils/lazyload/lazysizes.min.js" %}"></script>
  <script src="{% static "utils/fastclick/fastclick.js" %}"></script>
  <script src="{% static "utils/zepto/zepto.min.js" %}"></script>
  {% block head %}{% endblock %}
  <meta name="description" content="2015年高考非凡艺术生文化课,美院附中,游学,高中补习班,中国美院附中,艺术生高考创造校史最好成绩,全校平均分超过艺术本科线52.9分.全校本科过线率81.06%,小牛班（重点班）1/5学生总分超过500分,全校1/8的学生总分超过本科线100分以上,12位学生总分超过500分,120位学生总分超过400分!">
  <meta name="keywords" content="艺艺术生文化课,美院附中,游学,高中补习班,中国美院附中,艺术生高考">
  <title>非凡教育官网—艺术生文化课辅导,艺考生文化课冲刺,艺术生高考培训学校,美院附中,中国美院附中</title>
</head>
<body>
  {% block body %}{% endblock %}
  {% block foot %}{% endblock %}
  <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?02bd6a02c7be7158779517ccfcca1fa6";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
  </script>
</body>
</html>
