{% extends 'mobile/base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static "mobile/css/campus/campus.css" %}">
<link rel="stylesheet" href="{% static "utils/swiper/swiper-3.4.2.min.css" %}">
{% endblock %}

{% block body %}
<div class="top">
    <h1>非凡校区</h1>
    <a id="back"><i></i></a>
    <div class="nav swiper-container">
        <div class="swiper-wrapper">
            {% for article in articles %}
            <a class="swiper-slide {% if article == top_article %} active {% endif %}">
                <span>{{article.title}}</span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="content nav-content">
    <div class="swiper-wrapper swiper-auto-height">
        {% for article in articles %}
        <div class="nav-module swiper-slide swiper-no-swiping" id="{{article.id}}">
            {{ article.content | safe }}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block foot %}
{% include 'mobile/_nav.html' %}
<style>
    .swiper-auto-height .swiper-slide {
        height: auto;
        /* display: table; */
    }
    video {
        max-width: 100vw;
    }
</style>
<script src="{% static "utils/swiper/swiper-3.4.2.min.js" %}"></script>
<script src="{% static "utils/headroom/headroom.min.js" %}"></script>
<script src="{% static "mobile/js/common/index.js" %}"></script>
<script>
    $('.swiper-auto-height').find('.swiper-slide').each(function(index, el) {
        var height = 0;
        $(this).children().each(function(index, child) {
            height += +$(child).height();
        })
        $(this).height(height);
    })
    if ($('.swiper-container').length) {
        var mySwiper = $('.swiper-container').swiper(_defineProperty({
            slidesPerView: 'auto',
            freeMode: true,
            freeModeMomentumRatio: 0.5
        }, 'slidesPerView', 'auto')).on('touchstart', function (e) {
            e.preventDefault();
        });
        var width = mySwiper.container.width();
        var maxTranslate = mySwiper.maxTranslate();
        var maxWidth = -maxTranslate + width / 2;

        var navSwiper = $('.nav-content').swiper({
            slidesPerView: 'auto'
        });
        var currentIndex = $('#{{id}}').index()

        var $swiperAutoHeight = $('.swiper-auto-height');
        $swiperAutoHeight.height($swiperAutoHeight.find('.swiper-slide-active').height() + 20)

        mySwiper.slideTo(currentIndex)
        navSwiper.slideTo(currentIndex)
        mySwiper.on('tap', function (swiper, e) {

            setTimeout(function() {
                $swiperAutoHeight.height($swiperAutoHeight.find('.swiper-slide-active').height() + 20)
            }, 0);

            var slide = swiper.slides[swiper.clickedIndex];
            var slideLeft = slide.offsetLeft;
            var slideWidth = slide.clientWidth;
            var slideCenter = slideLeft + slideWidth / 2;
            mySwiper.setWrapperTransition(300);
            if (slideCenter < width / 2) {
                mySwiper.setWrapperTranslate(0);
            } else if (slideCenter > maxWidth) {
                mySwiper.setWrapperTranslate(maxTranslate);
            } else {
                mySwiper.setWrapperTranslate(width / 2 - slideCenter);
            }

            $(".swiper-container  .active").removeClass('active');
            $(".swiper-container .swiper-slide").eq(swiper.clickedIndex).addClass('active');
            
            navSwiper && navSwiper.slideTo(swiper.clickedIndex);
        });
    }
</script>
{% endblock %}
