{% extends 'mobile/base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static "utils/swiper/swiper-3.4.2.min.css" %}">
<link rel="stylesheet" href="{% static "css/home/index.css" %}">
{% endblock %}

{% block body %}
<div class="header">
  <div class="menu">
    <ul>
      <li>
        <a href="nEMT.html">
          <i class="icon gkcj"></i>
          <p>高考冲刺</p>
        </a>
      </li>
      <li>
        <a href="optional.html">
          <i class="icon xkcj"></i>
          <p>选考冲刺</p>
        </a>
      </li>
      <li>
        <a href="highSchool.html">
          <i class="icon myfz"></i>
          <p>美院附中</p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon xfgx"></i>
          <p>小凡公学</p>
        </a>
      </li>
      <li>
        <a href="militaryExploits.html">
          <i class="icon ffcj"></i>
          <p>非凡成绩</p>
        </a>
      </li>
      <li>
        <a href="students.html">
          <i class="icon yxxy"></i>
          <p>优秀学员</p>
        </a>
      </li>
      <li>
        <a href="campus.html">
          <i class="icon xqjs"></i>
          <p>校区介绍</p>
        </a>
      </li>
      <li>
        <a href="about.html">
          <i class="icon gyff"></i>
          <p>关于非凡</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="main">
  <!-- 课程产品 -->
  <div class="banner">
    <ul>
      {% for article in categories.课程产品 %}
      <li>
        <a href="{% url 'article' article.id %}">
          <img src="{% static "img/common/placeholder.svg" %}" data-src="{{ article.cover.url }}" alt="" class="lazyload">
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- 非凡头条 -->
  <div class="top-article">
    <h2>
      非凡头条
      <a href="category/非凡头条">
        看看非凡最近都发生了什么 >
      </a>
    </h2>
    <ul class="articles">
      {% for article in categories.非凡头条 %}
      <li>
        <a href="{% url 'article' article.id %}">
          <p>
            {{article.desc}}
          </p>
          <div class="img-wrap">
            <img src="{% static "img/common/placeholder.svg" %}" data-src="{{ article.cover.url }}" alt="" class="lazyload">
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- 非凡战绩 -->
  <div class="ff-score">
    <h2>非凡战绩</h2>
    <div class="st-container">
      <div class="swiper-wrapper">
        {% for article in categories.非凡战绩 %}
        <a href="{% url 'article' article.id %}" class="swiper-slide">
          <div class="img">
            <img src="{% static "img/common/placeholder.svg" %}" data-src="{{ article.cover.url }}" alt="" class="lazyload">
          </div>
          <p class="name">{{ article.title }}</p>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- 非凡名师 -->
  <div class="ff-teacher">
      <h2>
        非凡名师
        <a href="category/非凡名师">更多 ></a>
      </h2>
      <div class="st-container">
        <div class="swiper-wrapper">
          {% for article in categories.非凡名师 %}
          <a href="{% url 'article' article.id %}" class="swiper-slide">
            <div class="img">
              <i class="label">{{ article.subject }}</i>
              <img src="{% static "img/common/placeholder.svg" %}" data-src="{{ article.cover.url }}" alt="{{ article.name }}" class="lazyload">
            </div>
            <p class="name">{{ article.name }}</p>
          </a>
          {% endfor %}
        </div>
      </div>
  </div>
  <!-- 非凡校区 -->
  <div class="ff-school">
    <h2>非凡校区</h2>
    <div class="school-container">
      <div class="swiper-wrapper">
        {% for article in categories.非凡校区 %}
        <a href="{% url 'article' article.id %}" class="swiper-slide">
          <div class="img">
            <img src="{% static "img/common/placeholder.svg" %}" data-src="{{ article.cover.url }}" alt="{{ article.title }}" class="lazyload">
          </div>
          <p class="name">{{ article.title }}</p>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- 优秀学员 -->
  <div class="ff-student">
      <h2>
        优秀学员
        <a href="category/优秀学员">更多 ></a>
      </h2>
      <div class="st-container">
        <div class="swiper-wrapper">
          {% for article in categories.优秀学员 %}
          <a href="{% url 'article' article.id %}" class="swiper-slide">
            <div class="img">
              <i class="label">{{ article.college }}</i>
              <img src="{% static "img/common/placeholder.svg" %}" data-src="{{ article.cover.url }}" alt="{{ article.name }}" class="lazyload">
            </div>
            <p class="name">{{ article.college }}</p>
          </a>
          {% endfor %}
        </div>
      </div>
  </div>
  <div class="ff-ads">
    <!-- 为什么选择非凡 -->
    <div class="ad-why">
      <p>
        <img src="{% static "img/common/placeholder.svg" %}" data-src="{% static "img/home/pt06.png" %}" alt="" class="lazyload">
      </p>
    </div>
    <!-- 礼包 -->
    <div class="ad-free">
      <div class="ad-free-header">
        <p class="sub-title">非凡贴心服务</p>
        <h2>资料免费领取</h2>
      </div>
      {% for article in categories.礼包 %}
      <div class="item">
        <a href="{% url 'article' article.id %}" class="swiper-slide">
          <img src="{% static "img/common/placeholder.svg" %}" data-src="{{ article.cover.url }}" alt="{{ article.title }}" class="lazyload">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="footer">
    Copyright &copy; 2016 - 2019 杭州小凡教育科技有限公司 <br>
    浙IPC备12001281号
  </div>
</div>

{% endblock %}

{% block foot %}
{% include "mobile/_nav.html" with active_link='home' %}
<script src="{% static "js/home/index.js" %}"></script>
{% endblock %}
