{% extends 'mobile/base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static "mobile/css/receive/index.css" %}">
{% endblock %}

{% block body %}
<div class="container">
  <div class="header">
    <img src="{% static "mobile/img/common/placeholder.svg" %}" data-src="{{ article.cover.url }}" alt="{{ article.title }}" class="lazyload">
  </div>
  <div class="signUp">
      <form class="form" id="lingqu" onsubmit="return false">
          <div class="form-control name">
              <label for="name"></label>
              <input required type="text" id="name" name="name" placeholder="请输入您的姓名">
          </div>
          <div class="form-control mobile">
              <label for="mobile"></label>
              <input required type="text" id="mobile" name="mobile" placeholder="请输入您的手机号">
          </div>
          <input type="hidden" name="aim" value="报考指南电子书">
          <input type="hidden" name="production" value="{{ article.title }}">
          <button disabled id="submitBtn" type="submit">立即领取</button>
      </form>
  </div>
</div>

<div class="popup">
    <div class="mask"></div>
    <div class="content">
        <a href="{% url 'home' %}" class="back">返回首页</a>
    </div>
</div>

<script type="text/javascript">
$('#lingqu').on('submit', function(e) {
    e.preventDefault();
    var fields = $('#lingqu').serializeArray();
    var data = {};
    fields.forEach(item => {
        data[item.name] = item.value;
    })
    data.ip = returnCitySN.cip;
    var phoneReg = /^1(3|4|5|7|8)\d{9}$/;
    if (!phoneReg.test(data.mobile)) {
        alert('手机号码不符合格式')
    } else {
      $('#submitBtn').disabled = true
      console.log(data);
      $('.popup').show();
      $.ajax({
        type: 'post',
        data: data,
        url: '/core/api/visitors',
        success: function () {
          $('.popup').show();
        },
        error: function () {
          alert('系统忙，请稍后再试...')
        }
      })
    }
})
</script>
{% endblock %}

{% block foot %}
<script src="{% static "mobile/js/receive/index.js" %}"></script>
<script src="{% static "mobile/js/common/index.js" %}"></script>
{% endblock %}
