{% extends 'mobile/base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static "mobile/css/students/index.css" %}">
{% endblock %}

{% block body %}
<div class="top">
  <h1>优秀学员</h1>
  <a id="back"><i></i></a>
</div>
<div class="main">
  {% for article in articles %}
  <div class="item">
      <a href="{% url 'article' article.id %}">
        <div class="img">
          <img src="{% static "mobile/img/common/placeholder.svg" %}" data-src="{{ article.cover.url }}" alt="{{article.title}}" class="lazyload">
        </div>
        <div class="detail">
          <p class="name">{{ article.title }}</p>
          <p class="label">{{ article.tags.all.0}}</p>
          <p class="intro">{{ article.desc | safe }}</p>
        </div>
      </a>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block foot %}
{% include 'mobile/_nav.html' %}
<script src="{% static "utils/headroom/headroom.min.js" %}"></script>
<script src="{% static "mobile/js/common/index.js" %}"></script>
{% endblock %}
