{% extends 'mobile/base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static "mobile/css/topArticles/details.css" %}">
{% endblock %}

{% block body %}
<div class="top">
    <h1>非凡头条</h1>
    <a id="back"><i></i></a>
</div>

<div class="title">{{ article.title }}</div>

<div class="frontCover">
    <img src="{% static "mobile/img/common/placeholder.svg" %}" data-src="{{ article.cover.url }}" alt="" class="lazyload">
</div>

<div class="content">
    {{ article.content | safe }}
</div>
{% endblock %}

{% block foot %}
{% include 'mobile/_nav.html' %}
<script src="{% static "utils/headroom/headroom.min.js" %}"></script>
<script src="{% static "mobile/js/common/index.js" %}"></script>
{% endblock %}
