{% load staticfiles %}
<aside class="aside">
  <ul>
    <li class="contact-item">
      <div id="xuankao" class="contact-icon">
        <img src="{% static 'img/icons/phone.png' %}" alt="电话">
        <span>选考咨询</span>
      </div>
      <span class="contact-content">17767162695</span>
    <li class="contact-item">
      <div id="gaokao" class="contact-icon">
        <img src="{% static 'img/icons/phone.png' %}" alt="电话">
        <span>高考咨询</span>
      </div>
      <span class="contact-content">400-050-9886</span>
    </li>
    <li class="contact-item">
      <div id="xfxz" class="contact-icon">
        <img src="{% static 'img/icons/wx.png' %}" alt="微信">
        <span>美术咨询</span>
      </div>
        <img src="{% static 'img/orcode/xfxz.png' %}" class="contact-content" alt="小凡学长">
    </li>
    <li class="contact-item">
      <div id="yinyue" class="contact-icon">
        <img src="{% static 'img/icons/wx.png' %}" alt="微信">
        <span>音乐咨询</span>
      </div>
        <img src="{% static 'img/orcode/chenpan.png' %}" class="contact-content" alt="小凡学长">
    </li>
    <li class="contact-item">
      <div id="guwen" class="contact-icon">
        <img src="{% static 'img/icons/wx.png' %}" alt="微信">
        <span>传媒咨询</span>
      </div>
        <img src="{% static 'img/orcode/guwen.png' %}" class="contact-content" alt="顾问">
    </li>
    <li class="contact-item">
      <div id="sari" class="contact-icon">
        <img src="{% static 'img/icons/wx.png' %}" alt="微信">
        <span>新政咨询</span>
      </div>
        <img src="{% static 'img/orcode/sari.png' %}" class="contact-content" alt="顾问">
    </li>
  </ul>
</aside>

<style>
.aside {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 145px;
}
.contact-item {
  position: relative;
  color: #fff;
}
.contact-icon {
  display: inline-block;
  width: 70px;
  height: 58px;
  margin-bottom: 4px;
  padding-top: 4px;
  border-radius: 8px;
  background: #947011;
  cursor: pointer;
}
.contact-icon img{
  display: block;
  width: auto;
  width: 32px;
  margin: auto;
}
.contact-icon span {
  display: block;
  margin-top: 8px;
  text-align: center;
  font-size: 12px;
}
.contact-content {
  display: none;
  position: absolute;
  bottom: 4px;
  left: 78px;
  min-width: 160px;
  padding: 8px;
  background-color: #947011;
  border-radius: 4px;
  transition: all .75s;
}
img.contact-content {
  width: 200px;
  height: 200px;
}
span.contact-content {
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  font-family: times;
}
.contact-icon:hover {
  background-color: #b38815;
}
#baoming:hover + .contact-content,
#xuankao:hover + .contact-content,
#gaokao:hover + .contact-content,
#xfxz:hover + .contact-content,
#guwen:hover + .contact-content,
#sari:hover + .contact-content,
#yinyue:hover + .contact-content,
#feifan:hover + .contact-content
{
  display: block;
}
</style>
