<section class="app-banner">
  <video src="https://s3.cn-north-1.amazonaws.com.cn/video-banner/banner.mp4" poster="https://s3.cn-north-1.amazonaws.com.cn/video-banner/poster.JPG" autoplay loop>
  </video>
  <div class="shiting">
    <h2 id="openShiTing" onclick="$('#m-shitingke').show()">1v1在线精品课点击试听</h2>
  </div>
</section>

<style>
.app-banner {
  position: relative;
  height: 650px;
  overflow: hidden;
}
.app-banner video {
  display: block;
  width: 100%;
}
.shiting {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 16px;
  text-align: center;
  color: gold;
}
.shiting h2{
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 4px;
  cursor: pointer;
}
.shiting h2:hover {
  text-decoration: underline;
}
</style>