{% load staticfiles %}
<section class="app-banner">
  <video src="https://s3.cn-north-1.amazonaws.com.cn/video-banner/banner.mp4" poster="https://s3.cn-north-1.amazonaws.com.cn/video-banner/poster.JPG" autoplay loop>
  </video>
  <div class="banner-content" onclick="$('#m-shitingke').show()">
  </div>
</section>

<style>
.app-banner {
  position: relative;
  height: 650px;
  overflow: hidden;
  background: #000;
}
.app-banner video {
  display: block;
  width: 100%;
  opacity: .7;
}
.banner-content {
  position: absolute;
  width: 300px;
  height: 60px;
  left: 0;
  right: 0;
  top: 220px;
  margin: auto;
  opacity: .9;
  background-image: url("{% static 'img/logo.png' %}");
  background-size: 100% 100%;
  background-position: center;
  cursor: pointer;
  transition: all .5s;
}
.banner-content:hover {
  transform: scale(1.1);
}
</style>