{% load staticfiles %}
<div class="container slip">
  <div class="countDown">
    <i class="fa fa-clock-o"></i>
    <small>离高考还有:</small>
    <span id="times"></span>
  </div>
  <a target="_blank" href="http://sq.ffjy.org/">
    <small>非凡算分神器</small>
    <i class="fa fa-calculator"></i>
  </a>
</div>

<script>
  function countDown(end) {
    var t = (end - Date.now())/1000
    return {
      days: Math.floor(t/(3600 * 24)),
      hours: Math.floor((t/3600) % 24),
      mins: Math.floor((t/60) % 60),
      secs:  Math.floor(t%60)
    }
  }
  var end = new Date('2018-6-7 8:00')

  function setHtml() {
    var r = countDown(end)
    times.innerHTML = r.days + '天' + r.hours + '小时' + r.mins + '分' + r.secs + '秒'
  }

  setHtml()
  setInterval(setHtml, 1000)

</script>

<style>
.slip {
  display: flex;
  justify-content: space-between;
  margin-top: 48px !important;
  padding: 8px;
  font-size: 18px;
  border-radius: 8px;
  color: rgba(0,0,0,.7);
  background-color: #f8f8f8;
}
#times {
  letter-spacing: 2px;
  font-size: 18px;
  color: #dc7902;
}
.slip i {
  font-size: 30px;
  opacity: .6;
}
</style>
