{% load staticfiles %}
<div class="footer">
  <style>
    .footer {
      height: auto;
    }
    .beian {
      display: inline-flex;
      align-items: center;
    }
    .beian-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url("{% static 'img/icon_beian.png' %}") no-repeat;
      background-size: 20px 20px;
      margin-right: 5px;
    }
  </style>
  <div class="container">
    <div class="friendLinks">
      <h2>友情链接</h2>
      <a href="http://www.caa.edu.cn" target="_blank">中国美术学院</a>       
      <a href="http://www.cafa.edu.cn" target="_blank">中央美术学院</a>
      <a href="http://www.tsinghua.edu.cn" target="_blank">清华美院</a>
      <a href="http://www.tjarts.edu.cn" target="_blank">天津美术学院</a>
      <a href="http://www.gzarts.edu.cn" target="_blank">广州美术学院</a>
      <a href="http://www.hifa.edu.cn" target="_blank">湖北美术学院</a>
      <a href="http://www.scfai.edu.cn" target="_blank">四川美术学院</a>
      <a href="http://www.lumei.edu.cn" target="_blank">鲁迅美术学院</a>
      <a href="http://www.xafa.edu.cn" target="_blank">西安美术学院</a>
      <a href="http://www.51meishu.com" target="_blank">美术高考网</a>
      <br />
      <style>
        .friendLinks a{
          display: inline-block;
          margin-bottom: 5px;
        }
      </style>
      <a href="http://www.xinyinyoga.com" target="_blank">瑜伽</a>
      <a href="http://www.youngjianfei.com" target="_blank">学生减肥夏令营</a>
      <a href="http://www.ukassignment.org" target="_blank">代写essay</a>
      <a href="http://www.emayve.com" target="_blank">深圳美容学校</a>
      <a href="http://www.yingzimodel.com" target="_blank">模特培训</a>
      <a href="http://www.hzmshs.com" target="_blank">杭州画室</a>
      <a href="http://www.dgaccpx.com" target="_blank">会计培训班</a> 
      <a href="http://www.qiusuo1998.com" target="_blank">美术高考培训</a>
      <a href="http://www.073855.com" target="_blank">学习啦</a>        
    </div>
    <div class="contact">
      <i class="icon-phone"></i>
      <!-- <div class="wechat">
        <div class="two-code" style="z-index: 1000;">
          <img src="" alt="">
        </div>
      </div> -->
    </div>
    <ul class="xiaoqu">
      <li>杭州硅谷校区：浙江社杭州市富阳区九龙大道富春硅谷园区4号楼</li>
      <li>杭州象山校区：浙江省杭州市西湖区美院南路象山国际1号楼10F</li>
      <li>杭州银湖校区：浙江省杭州市富阳区银湖街道受降镇金子垄5号</li>
      <li>广州总部校区：广东省广州市海珠区昌港东路252号江南坊一楼</li>
      <li>广州住宿校区：广东省广州市萝岗区新安路332号谷丰艺术园B栋1楼</li>
      <li>福州校区：福建省福州市仓山区浦上大道272号仓山万达广场A2楼20层10室</li>
    </ul>
    <div class="beian"><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33018302000493" class="beian"><i class="beian-icon"></i>浙公网安备 33018302000493号</a>&nbsp;&nbsp;<a target="_blank" href="http://www.miibeian.gov.cn/">浙ICP备12001281号</a>&nbsp;&nbsp;Copyright &copy;2016 - 2019 杭州小凡教育科技有限公司  版权所有</div>
  </div>
</div>