<div class="footer">
  <div class="container">
    <div class="contact">
      <i class="icon-phone"></i>
      <div class="wechat">
        <div class="two-code">
          <img src="" alt="">
        </div>
      </div>
    </div>
    <ul class="jieshao">
      <li>
        <a href="#">关于非凡</a>
      </li>
      <li>
        <a href="#">关于非凡</a>
      </li>
      <li>
        <a href="#">关于非凡</a>
      </li>
      <li>
        <a href="#">关于非凡</a>
      </li>
    </ul>
    <ul class="xiaoqu">
      <li>杭州硅谷校区：浙江社杭州市富阳区九龙大道富春硅谷园区4号楼</li>
      <li>杭州象山校区：浙江省杭州市西湖区美院南路象山国际1号楼10F</li>
      <li>杭州银湖校区：浙江省杭州市富阳区银湖街道受降镇金子垄5号</li>
      <li>广州总部校区：广东省广州市海珠区昌港东路252号江南坊五楼</li>
      <li>广州住宿校区：广东省广州市萝岗区新安路332号谷丰艺术园B栋1楼</li>
      <li>福州校区：福建省福州市仓山区浦上大道272号仓山万达广场A2楼20层10室</li>
    </ul>
    <div class="beian">浙ICP备12001281号  Copyright &copy;2016 - 2019 杭州小凡教育科技有限公司    版权所有</div>
  </div>
</div>