{% load staticfiles %}
<div class="header">
  <div class="container">
    <div class="top clear">
      <a href="/" class="home float-left" style="margin-top: 0">
        <img src="{% static "img/home/logo.png" %}" alt="非凡教育" class="logo">
      </a>
      <div class="float-right">
        <a href="/" class="back-home">非凡首页</a>
        <ul class="address">
          <li>
            <a href="//hz.ffjy.org" target="_blank">杭州</a>
          </li>
          <li>
            <a href="//fz.ffjy.org">福州</a>
          </li>
          <li>
            <a href="//gz.ffjy.org" target="_blank">广州</a>
          </li>
        </ul>
        <div class="icon-mobile">
          <i class="icon"></i>
          <i class="mobile"></i>
        </div>
      </div>
    </div>
    <div class="nav-wrap">
      <div class="nav">
      <ul class="nav-first">
        <li class="{% if link == "home" %}active home-nav{% endif %}">
          <a href="/">课程分类</a>
          <ul class="nav-second">
            <li>
              <a href="#">艺术生文化课</a>
              <i class="icon-right"></i>
              <ul class="nav-third">
                <li class="clear">
                  <div class="head">全国班</div>
                  <div class="main">
                    <a href="{% url 'pc_article_by_uri' 'quan-guo-ijuan-ban' %}">Ⅰ卷班</a>
                    <a href="{% url 'pc_article_by_uri' 'quan-guo-iijuan-ban' %}">Ⅱ卷班</a>
                    <a href="{% url 'pc_article_by_uri' 'quan-guo-iiijuan-ban' %}">Ⅲ卷班</a>
                    <a href="{% url 'pc_article_by_uri' 'jiang-su-ban' %}">江苏班</a>
                  </div>
                </li>
                <li class="clear">
                  <div class="head">浙江班</div>
                  <div class="main">
                    <a href="{% url 'pc_article_by_uri' 'zhe-jiang-ban-xuan-kao-chong-ci-ying' %}">选考冲刺营</a>
                    <a href="{% url 'pc_article_by_uri' 'zhe-jiang-ban-lian-kao-chong-ci-ying' %}">联考冲刺营</a>
                    <a href="http://www.ffjy.org/article/61/">校考冲刺营</a>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <a href="http://www.vanschool.cn/">普通生文化课</a>
              <!--
              <ul class="nav-third">
                <li class="clear">
                    <b>正在开发，敬请期待...</b>
                </li>
              </ul>
              -->
            </li>
            <li>
              <a href="http://www.ffjy.org/article/76/">专业文化一体课</a>
              <!--
              <ul class="nav-third">
                <li>
                  <b>正在开发，敬请期待...</b>
                </li>
              </ul>
              -->
            </li>
            <li>
              <a href="//myfz.ffjy.org">美院附中班</a>
            </li>
            <li>
              <a href="{% url 'pc_category_by_uri' 'shang-fen-xue-tang' %}">上分学堂</a>
              <!--
              <ul class="nav-third">
                <li>
                  <b>正在开发，敬请期待...</b>
                </li>
              </ul>
              -->
            </li>
          </ul>
        </li>
        <li class="{% if link == "校区介绍" %}active {% endif %}">
          <a href="{% url 'pc_category_by_uri' 'xiao-qu-jie-shao' %}">校区介绍</a>
        </li>
        <li class="{% if link == "关于非凡" %}active {% endif %}">
          <a href="{% url 'pc_category_by_uri' 'guan-yu-fei-fan' %}">关于非凡</a>
        </li>
        <li class="{% if link == "非凡战绩" %}active {% endif %}">
          <a href="{% url 'pc_category_by_uri' 'fei-fan-zhan-ji' %}">非凡战绩</a>
        </li>
        <li class="{% if link == "非凡头条" %}active {% endif %}">
          <a href="{% url 'pc_category_by_uri' 'fei-fan-tou-tiao' %}">非凡头条</a>
        </li>
        <li class="teacher-power {% if link == "非凡名师" %}active {% endif %}">
          <a href="{% url 'pc_category_by_uri' 'fei-fan-ming-shi' %}">非凡名师</a>
        </li>
        <li class="{% if link == "联系我们" %}active {% endif %}">
          <a href="{% url 'pc_article_by_uri' 'lian-xi-wo-men' %}">联系我们</a>
        </li>
      </ul>
    </div>
    </div>
    </div>
  </div>

  <style>
  .logo {
    width: 130px;
    height: auto;
  }
  </style>
