{% load staticfiles %}
<div class="header">
  <div class="container">
    <div class="top clear">
      <a href="#" class="home float-left">
        <img src="{% static "img/home/logo.png" %}" alt="">
      </a>
      <div class="float-right">
        <a href="/" class="back-home">非凡首页</a>
        <ul class="address">
          <li>
            <a href="#">杭州</a>
          </li>
          <li>
            <a href="#">福州</a>
          </li>
          <li>
            <a href="#">广州</a>
          </li>
        </ul>
        <div class="icon-mobile">
          <i class="icon"></i>  
          <i class="mobile"></i>
        </div>
      </div>
    </div>
    <div class="nav-wrap">
      <div class="nav">
      <ul class="nav-first">
        <li class="{% if link == "home" %}active home-nav{% endif %}">
          <a href="/">课程分类</a>
          <ul class="nav-second">
            <li>
              <a href="#">艺术生文化课</a>
              <i class="icon-right"></i>
              <ul class="nav-third">
                <li class="clear">
                  <div class="head">浙江班</div>
                  <div class="main">
                    <a href="#">选考冲刺营</a>
                    <a href="#">联考冲刺营</a>
                    <a href="#">校考冲刺营</a>
                  </div>
                </li>
                <li class="clear">
                  <div class="head">浙江班</div>
                  <div class="main">
                    <a href="#">选考冲刺营</a>
                    <a href="#">联考冲刺营</a>
                    <a href="#">校考冲刺营</a>
                  </div>
                </li>
                <li class="clear">
                  <div class="head">浙江班</div>
                  <div class="main">
                    <a href="#">选考冲刺营</a>
                    <a href="#">联考冲刺营</a>
                    <a href="#">校考冲刺营</a>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">普通生文化课</a>
              <i class="icon-right"></i>
              <ul class="nav-third">
                <li class="clear">
                  <div class="head">浙江班</div>
                  <div class="main">
                    <a href="#">选考冲刺营</a>
                    <a href="#">联考冲刺营</a>
                    <a href="#">校考冲刺营</a>
                    <a href="#">选考冲刺营</a>
                    <a href="#">联考冲刺营</a>
                    <a href="#">校考冲刺营</a>
                    <a href="#">选考冲刺营</a>
                    <a href="#">联考冲刺营</a>
                    <a href="#">校考冲刺营</a>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">专业文化一课</a>
              <i class="icon-right"></i>
              <ul class="nav-third">
                <li>
                  <b>正在开发，敬请期待...</b>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">美院附中班</a>
              <i class="icon-right"></i>
              <ul class="nav-third">
                <li>
                  <b>正在开发，敬请期待...</b>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">上分学堂</a>
              <i class="icon-right"></i>
              <ul class="nav-third">
                <li>
                  <b>正在开发，敬请期待...</b>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="{% if link == "校区介绍" %}active {% endif %}">
          <a href="{% url 'pc_category_by_title' '校区介绍' %}">校区介绍</a>
        </li>
        <li class="{% if link == "关于非凡" %}active {% endif %}">
          <a href="{% url 'pc_article_by_title' '关于非凡' %}">关于非凡</a>
        </li>
        <li class="{% if link == "非凡战绩" %}active {% endif %}">
          <a href="{% url 'pc_category_by_title' '非凡战绩' %}">非凡战绩</a>
        </li>
        <li class="teacher-power {% if link == "非凡名师" %}active {% endif %}">
          <a href="{% url 'pc_category_by_title' '非凡名师' %}">非凡名师</a>
          <ul class="nav-second" style="display: none;">
            <li>
              <a href="#">艺术生文化课</a>
            </li>
            <li>
              <a href="#">普通生文化课</a>
            </li>
            <li>
              <a href="#">专业文化一课</a>
            </li>
            <li>
              <a href="#">美院附中班</a>
            </li>
            <li>
              <a href="#">上分学堂</a>
            </li>
          </ul>
        </li>
        <li class="{% if link == "联系我们" %}active {% endif %}">
          <a href="{% url 'pc_article_by_title' '联系我们' %}">联系我们</a>
        </li>
      </ul>
    </div>
    </div>
    </div>
  </div>

