{% extends 'pc/base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static "css/articleDetails/articleDetails.css" %}">  
{% endblock %}

{% block body %}
<div class="page">
    {% include 'pc/_nav.html' with link=link %}
</div>

<div class="title">
  <div>
    <p>{{article.title}}</p>
  </div>
</div>

<div class="main">
  <div class="centre">
    {% if article.pc_content %}
      {{article.pc_content | safe}}
    {% else %}
      {{article.content | safe}}
    {% endif %}
  </div>
</div>
{% endblock %}