{% extends 'pc/base.html' %}
{% load staticfiles %}

{% block keyword %} {{article.keyword}} {% endblock %}

{% block description %} {{article.desc}} {% endblock %}

{% block title %}{{article.title}}{% if article.category.title != '普通文章' %}-{{article.category.title}}{% endif %}-{{site_name}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "css/articleDetails/articleDetails.css" %}">  
{% endblock %}

{% block body %}
<div class="page">
    {% include 'pc/_nav.html' with link=title %}
</div>

<div class="main">
  <div class="centre">
    <div class="c-title">
      <p>{{article.title}}</p>
      <p class="tag">/&nbsp;&nbsp;{{article.category.title}}&nbsp;&nbsp;／</p>
    </div>
    <div class="content">
      {% if article.pc_content %}
        {{article.pc_content | safe}}
      {% else %}
        {{article.content | safe}}
      {% endif %}
    </div>
    <div class="recomend">
      <h2>推荐阅读</h2>
      <ul>
      {% for a in recommends %}
        <li>
          <a class="item" href="{% url 'pc_article' a.id %}">{{ a.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
    <style>
      .recomend {
        margin-top: 60px;
        margin-bottom: 50px;
        box-sizing: border-box;
        padding: 0 10px;
        padding-top: 20px;
        border-top: 1px solid rgba(0, 0, 0, .1);
      }
      .recomend>h2 {
        font-size: 18px;
        line-height: 25px;
        color: #808080;
        font-weight: normal;
        margin-bottom: 30px;
      }
      .recomend .item {
        color: #333;
        font-size: 17px;
        line-height: 30px;
        display: flex;
        align-items: center;
        margin-bottom: 12px;        
      }
      .recomend .item:before {
        content: '';
        display: inline-block;
        width: .9em;
        height: .9em;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, .14);
        margin-right: 16px;
      }
      .recomend .item:hover {
        color: #49a9ee;
        text-decoration: underline;
      }
      .recomend .item:hover:before {
        border-color: #49a9ee;
        background-color: #49a9ee;
        background-clip: content-box;
        box-sizing: border-box;
        padding: .2em;
      }
    </style>
  </div>
  <div class="right">
    <div class="r-top">
      <i class="icon"></i>
      热门推荐
    </div>
    {% for a in recommends %}
    <a class="r-item" href="{% url 'pc_article' a.id %}">
      <div class="r-title">{{a.title}}</div>
      <img src="{{ a.cover.url }}" alt="{{a.title}}">
    </a>
    {% endfor %}
  </div>
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: 'PingFangSC-Regular', Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;      
    }
    body {
      background-color: #F8F8F8;   
    }
    .main {
      display: flex;
      width: 1130px;
      margin: 0 auto;
      margin-top: 30px;
      padding-bottom: 50px;
    }
    .main .right {
      width: 260px;
      margin-left: 20px;
    }
    .r-top {
      display: flex;
      align-items: center;
      margin-bottom: 14px;
    }
    .r-top .icon {
      width: 14px;
      height: 18px;
      display: block;
      background: url("{% static 'img/fire.png' %}") no-repeat;
      background-size: 14px 18px;
      margin-right: 6px;
    }
    .r-item {
      background-color: #fff;
      overflow: hidden;
      display: block;
      cursor: pointer;
      transition: all .5s;
    }
    .r-item:hover {
      box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
      transform: translateY(-3px);
    }
    .r-item:not(:last-child) {
      margin-bottom: 10px;
    }
    .r-item .r-title {
      padding: 17px 14px;
      line-height: 1.5;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden !important;
      box-sizing: border-box;
      width: 100%;
      color: #313030;
    }
    .r-item img {
      width: 100%;
      height: auto;
      display: block;
    }
    .c-title {
      width: 100%;
      border-radius: 4px;
      background-color: #FFFFFF;
      color: #313030;
      font-size: 24px;
      line-height: 33px;
      box-sizing: border-box;
      padding: 20px 16px 25px 30px;
      margin-bottom: 20px;
    }
    .c-title .tag {
      margin-top: 20px;
      color: #C0C1C2;
      font-size: 16px;
      line-height: 22px;
    }
    .content {
      background-color: #fff;
      padding: 25px 50px;
      line-height: 1.5;
      font-size: 16px;
    }

  </style>
</div>
{% endblock %}