{% extends 'pc/base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/category/category.css" %}">
{% endblock %}

{% block body %}
<div class="page">

</div>

<div class="frontCover">
    <div>
        <p>我们的校区</p>
    </div>
</div>

<div class="main">
    <div class="campusIntroduction">

        {% for a in articles %}
            <li>
                <div class="campusImg">
                    <img src="{{a.cover.url}}" alt="{{a.title}}">
                </div>

                <div class="interval"></div>

                <div class="briefIntroduction">
                    <div class="title">{{a.title}}</div>
                    <div class="content">
                        {{a.desc}}
                    </div>

                    <div class="btn">
                        <i></i>
                    </div>
                </div>
            </li>
        {% endfor %}

    </div>
</div>

{% endblock %}

{% block foot %}
<script src="{% static "utils/swiper/swiper-3.4.2.min.js" %}"></script>
{% endblock %}