{% extends 'pc/base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static "css/campus/campus.css" %}"> 
    <!-- <link rel="stylesheet" href="{% static "css/category/category.css" %}"> -->
{% endblock %}

{% block body %}
<div class="page">
    {% include 'pc/_nav.html' %}
</div>

<div class="frontCover">
    <img src="{{category.cover.url}}">
</div>

<div class="main">
    <div class="campusIntroduction">

        {% for a in articles %}
            <li>
                <div class="campusImg">
                    <img src="{{a.cover.url}}" alt="{{a.title}}">
                </div>
            
                <div class="interval"></div>
            
                <div class="briefIntroduction">
                    <div class="title">{{a.title}}</div>
                    <div class="content">
                        {{a.desc}}
                    </div>
                    <div class="btn">
                    <a href="{% url 'pc_article' a.id %}">
                        <i></i>
                    </a>
                    </div>
                </div>
            </li>
        {% endfor %}

    </div>
</div>

{% endblock %}
