{% extends 'pc/base.html' %}
{% load staticfiles %}

{% block keyword %} {{seo.keyword}} {% endblock %}

{% block description %} {{seo.description}} {% endblock %}

{% block title %}{{seo.title}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "utils/swiper/swiper-3.4.2.min.css" %}">
{% endblock %}
{% block body %}
<div class="page">
{% include 'pc/_nav.html' with link="home" %}
<div class="banner" style="position: relative;overflow: hidden;">
  {% for a in categories.pcbanner|slice:":1" %}
  <a href="//ffjy.org/article/61/" draggable="false" 
    style="
      position: absolute; 
      top: 0; 
      left: 50%; 
      transform: translateX(-50%);
      height:100%;
      width: 100%;
      background-image:url('{{a.cover.url}}');
      background-size: cover;
    "
  ></a>
  {% endfor %}
  <div class="container">
    <div class="receive">
      <div class="leadin">
        <p>免费领取</p>
        <p>价值 <span>1280</span>元</p>
        <p>课程资料礼包</p>
        <p class="gift">「 2017艺术生报考指南+导读课 」</p>
      </div>
      <div class="receiveMain">
        <form id="top-form" onsubmit="return false;">
          <input type="hidden" name="aim" value="领取1280元礼包">
          <input type="hidden" name="product" value="1280元礼包">
          <div>
          <input type="text" name="name" required="required"
                placeholder="请输入你的姓名" data-label="姓名">
          </div>
          <div>
          <input type="text" name="phone" required="required"
                placeholder="请输入你的电话" data-label="电话">
          </div>
          <div class="receiveBtn">
            <button>立即领取</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="sub-banner">
  <div class="container">
    <div class="web-width web-secondView">
      <div class="main-div ">
        <ul>
          {% for a in categories.课程产品 %}
          <li class="{% if forloop.counter == 1 %} first {% endif %}">
            <a href="{% url 'pc_article' a.id %}">
              <div class="imgTop" style="background-image: url('{{ a.cover.url }}'); background-size: cover;">
                <div class="accordion-string accordion-string-block">
                  <!-- <img class="accordion-img accordion-slide" src="img/banner_title01.png" height="96" width="96"/> -->
                  <button class="btn">查看详情</button>
                </div>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="toutiao news" style="margin-top: 50px;">
  <div class="container">
    <div class="title"></div>
    <div class="look-all">
      <a href="{% url 'pc_category_by_uri' 'fei-fan-tou-tiao' %}">查看更多</a>
    </div>
    <div class="toutiao-content">
      <div class="video">
        <video controls preload="none" poster="/static/img/play/play_poster.jpeg" width="480px" height="auto">
          <source src="http://ffwebsite.ffjy.org/%E6%88%90%E7%89%871080P.mp4" type="video/mp4">
        </video>
        <h3 class="video-title">七分钟快速了解非凡！</h3>
        <p>
          杭州非凡教育，位于杭州市富阳区银湖街道，是浙江省一家大规模的艺术生文化课民办培训学校。学校专注于初高中艺术生的文化课培训，自2005年创立以来，
          其中国美术学院录取率和录取人数、艺术类第一批院校录取率和录取人数、本科过线率等在业内始终处于领头羊的地位。每年，非凡教育的教学和市场动作都是其竞品机构们争相模仿的行业标杆。
        </p>
        <p>
            非凡每年国美的录取人数都是业内第一，很少有机构能够达到非凡的一半。在非凡，国美的平均录取率为77.8%；
            历年本科平均过线率在80%以上；高考成绩相较于入学成绩，平均提高138.07分。每年，非凡都在第一时间公布学生高考成绩的学校。
        </p>
      </div>
      <div class="text">
        {% for a in categories.非凡头条|slice:'3' %}
        <a class="content" href="{% url 'pc_article' a.id %}">
          <img src="{{ a.cover.url }}" class="cover">
          <div>
            <h3>{{a.title}}</h3>
            <p>{{a.desc}}</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<style>
  .toutiao-content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  .toutiao-content h3 {
    color: rgba(0, 0, 0, 0.85);
    margin: 0;
    font-weight: normal;
  }
  .toutiao-content p {
    color:rgba(0, 0, 0, 0.65);
    margin-top: 8px;
    text-indent: 24px;
  }
  .toutiao-content .video {
    width: 480px;
    margin-right: 48px;
    padding-right: 32px;
    border-right: 2px solid rgba(0, 0, 0, 0.25);
  }
  .video-title {
    padding-top: 16px;
  }
  .text .content {
    display: flex;
    height: 160px;
    margin-top: 24px;
  }
  .content:first-child {
    margin: 0;
  }
  .text .cover {
    width: 240px;
    margin-right: 16px;
  }
</style>

<div class="zhanji" style="margin-top: 50px;">
  <div class="container">
    <div class="title"></div>
    <div class="look-all">
      <a href="{% url 'pc_category_by_uri' 'fei-fan-zhan-ji' %}">查看更多</a>
    </div>
    <div class="main">
      {% for a in categories.非凡战绩|slice:":4" %}
        <a class="item" style="background-image: url('{{ a.cover.url }}')" href="{% url 'pc_article' a.id %}">
          <div class="blur-container">
            <span>{{a.title}}</span>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
<div class="people teacher">
  <div class="container">
    <div class="title"></div>
    <div class="look-all">
      <a href="{% url 'pc_category_by_uri' 'fei-fan-ming-shi' %}">查看更多</a>
    </div>
    <div class="main people-main">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
        <div class="swiper-wrapper">
          {% for a in categories.非凡名师 %}
            <div class="item swiper-slide" style="background-image: url('{{ a.cover.url }}')">
              <a class="blur-container" href="{% url 'pc_article' a.id %}">
                <div class="top">{{a.title}}</div>
                <div class="p-content">
                  <div class="name">{{a.title}}</div>
                  <i class="icon"></i>
                  <div class="desc">
                    {{a.desc}}
                  </div>
                  <div class="label">
                    {{ a.tags.all.0 }}
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="toutiao school">
  <div class="container">
    <div class="title"></div>
    <div class="look-all">
      <a href="{% url 'pc_category_by_uri' 'xiao-qu-jie-shao' %}">查看更多</a>
    </div>
    <div class="main">
      {% for a in categories.校区介绍 %}
      <a class="item" style="background-image: url('{{ a.cover.url }}')" href="{% url 'pc_article' a.id %}">
        <div class="blur-container act-item-cover sub{{forloop.counter}}">
          <strong>
            <span>{{ a.title }}</span>
          </strong>
          <style>
            .sub{{forloop.counter}}:before {
              background-image: url("{{ a.cover.url }}");
            }
          </style>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
<div class="people student" style="margin-top: 50px;">
  <div class="container">
    <div class="title"></div>
    <div class="look-all">
      <a href="{% url 'pc_category_by_uri' 'you-xiu-xue-yuan' %}">查看更多</a>
    </div>
    <div class="main people-main">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-wrapper">
        {% for a in categories.优秀学员 %}
          <div class="item swiper-slide" style="background-image: url('{{ a.cover.url }}')">
            <a class="blur-container" href="{% url 'pc_article' a.id %}">
              <div class="top">{{a.title}}</div>
              <div class="p-content">
                <div class="name">{{a.title}}</div>
                <i class="icon"></i>
                <div class="desc">
                  {{a.desc}}
                </div>
                <div class="label">
                  {{ a.tags.all.0 }}
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="intro">
  <style>
    .intro .intro-wrap .intro-top {
      z-index: auto;
    }
  </style>
  <div class="title"></div>
  <div class="container">
    <div class="intro-wrap">
      {% for a in categories.关于非凡 %}
        <a href="{% url 'pc_article' a.id %}" class="item">
          <div class="intro-top">
            <div class="default">
              <i class="icon" style="background-image:url('{% static "img/home/about-feifan/" %}{{ forloop.counter0}}.png')"></i>
              <h3 class="title">{{a.title}}</h3>
            </div>
            <div class="hover">
              <img src="{{ a.cover.url }}" alt="">
              <h3 class="title">{{a.title}}</h3>
            </div>
          </div>
          <div class="intro-main">
              {{a.desc}}
          </div>
          <div class="intro-footer">
            <i class="right"></i>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
<div class="dock" id="dock">
  <div></div>
  <div class="dockMain">
    <form id="dockForm" onsubmit="return false;">
      <p>
        <span>
          联系电话: <br />
          <small>400-050-9886</small>
        </span>
        <span class="introduction">
            免费领取 价值1280元 课程礼包
        </span>

        <span>
          <input type="hidden" name="aim" value="领取1280元礼包">
          <input type="hidden" name="product" value="1280元礼包">
          <input type="text" name="name" required="required"
            placeholder="请输入你的姓名" data-label="姓名">

          <input type="text" name="phone" required="required"
            placeholder="请输入你的电话" data-label="电话">
        </span>

        <span>
          <button id="dockBtn" class="dockBtn">立即预约</button>
        </span>
      </p>
    </form>
  </div>
</div>
{% endblock %}

{% block foot %}
<script>
  ;(function($) {
    $(function() {
      $('.player').on('click', function() {
        $('.play-video').slideDown(500);
      });
      $('.play-video').find('.close').on('click', function() {
        $('.play-video').slideUp(500);
        $('.play-video').find('video')[0].pause(); // pause video
      })
    })
  })(jQuery);
</script>
<script> (function () {
    var _53code=document.createElement("script");
    _53code.src = "https://tb.53kf.com/code/code/10157157/1";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(_53code, s);

   })(); </script>
{% endblock %}
