{% extends 'pc/base.html' %}
{% load staticfiles %}

{% block keyword %} {{seo.keyword}} {% endblock %}

{% block description %} {{seo.description}} {% endblock %}

{% block title %}{{seo.title}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "utils/swiper/swiper-3.4.2.min.css" %}">
{% endblock %}
{% block body %}
<div class="page">
{% include 'pc/_nav.html' with link="home" %}
<div class="banner" style="position: relative;overflow: hidden;">
  {% for a in categories.pcbanner|slice:":1" %}
  <img src="{{a.cover.url}}" class="banner-cover" alt="非凡教育" 
    draggable="false" onclick="window.location.href='http://ffjy.org/article/61/'">
  <style>
    .banner-cover {
      position: absolute; 
      top: 0; 
      left: 50%; 
      transform: translateX(-50%);
      height:100%;
      cursor: pointer;
    }
  </style>
  {% endfor %}
  <div class="container">
    <div class="receive">
      <div class="leadin">
        <p>免费领取</p>
        <p>价值 <span>1280</span>元</p>
        <p>课程资料礼包</p>
        <p class="gift">「 2018艺术生报考指南+导读课 」</p>
      </div>
      <div class="receiveMain">
        <form id="top-form" onsubmit="return false;">
          <input type="hidden" name="aim" value="领取1280元礼包">
          <input type="hidden" name="product" value="1280元礼包">
          <div>
          <input type="text" name="name" required="required"
                placeholder="请输入你的姓名" data-label="姓名">
          </div>
          <div>
          <input type="text" name="phone" required="required"
                placeholder="请输入你的电话" data-label="电话">
          </div>
          <div class="receiveBtn">
            <button>立即领取</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="product">
  <div class="container">
    <div class="content">
      {% for a in categories.课程产品|slice:'3' %}
      <a href="{% url 'pc_article' a.id %}" style="background-image:url('{{a.cover.url}}')"></a>
      {% endfor %}
    </div>
    <ul class="time-horizontal">
      <li><b></b>09/01 - 10/31<div>选考冲刺营</div></li>
      <li class="active"><b></b>12/15 - 06/03<div>联考冲刺营</div></li>
      <li class="future"><b></b>02/15 - 06/03<div>校考冲刺营</div></li>
    </ul>
    <br><br>
  </div>
  <style>
    .page .product {
      height: auto;
      margin-top: 24px;
      color: rgba(0, 0, 0, .85);
    }
    .product .content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 36px;
    }
    .product .content a {
      width: 390px;
      height: 240px;
      background-size: cover;
      background-position: center;
    }
    .time-horizontal {
      padding: 24px;
      list-style-type: none;
      border-top: 2px solid #777;
      width: 1200px;
      padding: 0px;
      margin: 0px;
    }
 
    .time-horizontal li {
      float: left;
      position: relative;
      text-align: center;
      width: 33.33333%;
      padding-top: 10px;
      font-size: 20px;
    }
    .time-horizontal li div {
      font-size: 16px;
      color: rgba(0, 0, 0, .85);
    }
 
  .time-horizontal li b:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 47%;
    width: 12px;
    height: 12px;
    border: 2px solid #666;
    border-radius: 8px;
    background: #666;
  }
  .time-horizontal li.active b:before {
    background: rgb(199, 9, 9);
    border: 2px solid rgb(199, 9, 9);
  }
  .time-horizontal li.future b:before {
    background: rgb(6, 146, 57);
    border: 2px solid rgb(6, 146, 57);
  }
  </style>
</div>
<div class="qs">
  <div class="qs-title">
    <h2>2018年艺术生备考常见的10大问题</h2>
    <div class="english">QUESTIONS AND ANSWER</div>
  </div>
  <ol class="qs-content">
    <li>
      <span>
        <span class="no">1</span>
        如何判断自己要不要参加校考？
      </span>
      <a href="https://www11.53kf.com/webCompany.php?arg=10157157&style=1&language=zh-cn&charset=gbk&kflist=off&kf=&zdkf_type=1&referer=http%3A%2F%2Flocalhost%3A8000%2F&keyword=&tfrom=1&tpl=crystal_blue&uid=4f961205ac6c51578212a8f184f7fd5e&timeStamp=1514448727800&ucust_id=">点击咨询</a>
    </li>
    <li>
      <span>
        <span class="no">2</span>
        校考院校如何选？怎么搭配？
      </span>
      <a href="https://www11.53kf.com/webCompany.php?arg=10157157&style=1&language=zh-cn&charset=gbk&kflist=off&kf=&zdkf_type=1&referer=http%3A%2F%2Flocalhost%3A8000%2F&keyword=&tfrom=1&tpl=crystal_blue&uid=4f961205ac6c51578212a8f184f7fd5e&timeStamp=1514448727800&ucust_id=">点击咨询</a>
    </li>
    <li>
      <span>
        <span class="no">3</span>
        历年来这些学校的专业和文化分是多少？
      </span>
      <a href="https://www11.53kf.com/webCompany.php?arg=10157157&style=1&language=zh-cn&charset=gbk&kflist=off&kf=&zdkf_type=1&referer=http%3A%2F%2Flocalhost%3A8000%2F&keyword=&tfrom=1&tpl=crystal_blue&uid=4f961205ac6c51578212a8f184f7fd5e&timeStamp=1514448727800&ucust_id=">点击咨询</a>
    </li>
    <li>
      <span>
        <span class="no">4</span>
        联考总分75%左右，如何上好大学？
      </span>
      <a href="https://www11.53kf.com/webCompany.php?arg=10157157&style=1&language=zh-cn&charset=gbk&kflist=off&kf=&zdkf_type=1&referer=http%3A%2F%2Flocalhost%3A8000%2F&keyword=&tfrom=1&tpl=crystal_blue&uid=4f961205ac6c51578212a8f184f7fd5e&timeStamp=1514448727800&ucust_id=">点击咨询</a>
    </li>
    <li>
      <span>
        <span class="no">5</span>
        传统志愿与平行志愿有何不同？
      </span>
      <a href="https://www11.53kf.com/webCompany.php?arg=10157157&style=1&language=zh-cn&charset=gbk&kflist=off&kf=&zdkf_type=1&referer=http%3A%2F%2Flocalhost%3A8000%2F&keyword=&tfrom=1&tpl=crystal_blue&uid=4f961205ac6c51578212a8f184f7fd5e&timeStamp=1514448727800&ucust_id=">点击咨询</a>
    </li>
    <li>
      <span>
        <span class="no">6</span>
        我所在省的录取规则是怎样？录取率是多少？
      </span>
      <a href="https://www11.53kf.com/webCompany.php?arg=10157157&style=1&language=zh-cn&charset=gbk&kflist=off&kf=&zdkf_type=1&referer=http%3A%2F%2Flocalhost%3A8000%2F&keyword=&tfrom=1&tpl=crystal_blue&uid=4f961205ac6c51578212a8f184f7fd5e&timeStamp=1514448727800&ucust_id=">点击咨询</a>
    </li>
    <li>
      <span>
        <span class="no">7</span>
        专业课集训结束后，文化课何去何从？
      </span>
      <a href="https://www11.53kf.com/webCompany.php?arg=10157157&style=1&language=zh-cn&charset=gbk&kflist=off&kf=&zdkf_type=1&referer=http%3A%2F%2Flocalhost%3A8000%2F&keyword=&tfrom=1&tpl=crystal_blue&uid=4f961205ac6c51578212a8f184f7fd5e&timeStamp=1514448727800&ucust_id=">点击咨询</a>
    </li>
    <li>
      <span>
        <span class="no">8</span>
        文化课怎么学，能最大幅度地提分？
      </span>
      <a href="https://www11.53kf.com/webCompany.php?arg=10157157&style=1&language=zh-cn&charset=gbk&kflist=off&kf=&zdkf_type=1&referer=http%3A%2F%2Flocalhost%3A8000%2F&keyword=&tfrom=1&tpl=crystal_blue&uid=4f961205ac6c51578212a8f184f7fd5e&timeStamp=1514448727800&ucust_id=">点击咨询</a>
    </li>
    <li>
      <span>
        <span class="no">9</span>
        非凡教育冲刺营和回原学校学有什么区别？
      </span>
      <a href="https://www11.53kf.com/webCompany.php?arg=10157157&style=1&language=zh-cn&charset=gbk&kflist=off&kf=&zdkf_type=1&referer=http%3A%2F%2Flocalhost%3A8000%2F&keyword=&tfrom=1&tpl=crystal_blue&uid=4f961205ac6c51578212a8f184f7fd5e&timeStamp=1514448727800&ucust_id=">点击咨询</a>
    </li>
    <li>
      <span>
        <span class="no">10</span>
        偏科、自制力差，有什么好的解决办法吗？
      </span>
      <a href="https://www11.53kf.com/webCompany.php?arg=10157157&style=1&language=zh-cn&charset=gbk&kflist=off&kf=&zdkf_type=1&referer=http%3A%2F%2Flocalhost%3A8000%2F&keyword=&tfrom=1&tpl=crystal_blue&uid=4f961205ac6c51578212a8f184f7fd5e&timeStamp=1514448727800&ucust_id=">点击咨询</a>
    </li>
    

  </ol>
</div>
<style>
.qs {
  width: 1240px;
  margin: 80px auto;
  color: rgba(0, 0, 0, .85);
}
.qs-title {
  text-align: center;
  margin-bottom: 24px;
}
.qs-title h2 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 8px;
}
.qs-title .english {
  font-weight: 400;
  letter-spacing: 14px;
  font-size: 14px;
  color:rgba(0, 0, 0, 0.65);
}
.qs-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  padding: 40px 24px;
  border-radius: 10px;
  background-color: #feffe6;
  box-shadow: 0px 0px 10px #614700 inset;
}
.qs-content li {
  font-size: 20px;
  width: 48.5%;
  margin: 12px 0;
  padding-bottom: 6px;
  list-style: upper-roman;
  display: inline-flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px dashed #ad8b00;
}
.qs-content li span.no {
  font-weight: bold;
  color: rgba(0, 0, 0, .85);
  margin-right: 8px;
  background: #ffe400;
  padding: 4px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
}
.qs-content li a {
  color: rgba(0, 0, 0, .85);
  display: inline-block;
  padding: 4px;
  background-color: #ffe240;
  border-radius: 24px;
  font-size: 16px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  width: 100px;
  /* transform: skew(-15deg,0deg); */
}
</style>

<div class="toutiao news" style="margin-top: 50px;">
  <div class="container">
    <div class="title"></div>
    <div class="look-all">
      <a href="{% url 'pc_category_by_uri' 'fei-fan-tou-tiao' %}">查看更多</a>
    </div>
    <div class="toutiao-content">
      <div class="video">
        <video controls preload="none" poster="/static/img/play/play_poster.jpeg" width="480px" height="auto">
          <source src="http://ffwebsite.ffjy.org/%E6%88%90%E7%89%871080P.mp4" type="video/mp4">
        </video>
        <h3 class="video-title">七分钟快速了解非凡！</h3>
        <div class="intro">
          <p>
            杭州非凡教育，位于杭州市富阳区银湖街道，是全国一家大规模的艺术生文化课民办培训学校。学校专注于初高中艺术生的文化课培训，自2008年创立以来，
            其中国美术学院录取率和录取人数、艺术类第一批院校录取率和录取人数、本科过线率等在业内始终处于领头羊的地位...
          </p>
        </div>
        <img src="/static/img/myfz.jpg" id="myfz" draggable="false" onclick="window.location.href='http://www.ffjy.org/article/mei-yuan-fu-zhong/'">
          <style>
            #myfz {
              display: block;
              width: 100%;
              border-radius: 5px;
              box-shadow: 0 10px 15px -10px #000;
              cursor: pointer;
            }
          </style>
      </div>
      <div class="text">
        <div class="important">
          {% for a in important_news|slice:'3' %}
          <div class="cover" style="background-image:url('{{a.cover.url}}')">
            <a href="{% url 'pc_article' a.id %}" >{{a.title}}</a>
          </div>
          {% endfor %}
        </div>
        <div class="normal">
          {% for a in categories.非凡头条|slice:'9' %}
          <a href="{% url 'pc_article' a.id %}" {% if forloop.counter|divisibleby:"3" %}class="devider"{% endif %}>{{a.title}}</a>
          {% endfor %}
        </div>     
      </div>
    </div>
  </div>
</div>

<style>
  .toutiao-content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  .toutiao-content h3 {
    color: rgba(0, 0, 0, 0.85);
    margin: 0;
    font-weight: normal;
  }
  .video .intro {
    color:rgba(0, 0, 0, 0.65);
    text-indent: 24px;
    font-size: 16px;
    margin-top: 16px;
    line-height: 1.5;
  }
  .toutiao-content .video {
    width: 480px;
    margin-right: 48px;
    padding-right: 32px;
    border-right: 2px solid rgba(0, 0, 0, 0.25);
  }
  .video-title {
    padding-top: 16px;
  }
  .toutiao-content .text {
    display: flex;
    justify-content: space-between;
  }
  .text .important {
    margin-right: 16px;
  }
  .text .important .cover {
    display: block;
    height: 150px;
    width: 240px;
    position: relative;
    margin-bottom: 24px;
        background-size: cover;
    background-position: center;
  }
  .text .important .cover a {
    position: absolute;
    width: 240px;
    bottom: 0;
    padding: 4px;
    color: #fafafa;
    background: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    font-size: 14px;
    transition: .5s all;
  }
  .text .important .cover a:hover { 
    color: #ffe400;
  }
  .text .normal a {
    display: block;
    height: 50px;
    list-style-type: disc;
    transition: .5s all;
    color: rgba(0, 0, 0, 0.85);
  }
  .text .normal a:hover {
    color: #2f54eb;
  }
  .text .normal .devider {
    margin-bottom: 24px;
  }
</style>

<div class="zhanji" style="margin-top: 50px;">
  <div class="container">
    <div class="title"></div>
    <div class="look-all">
      <a href="{% url 'pc_category_by_uri' 'fei-fan-zhan-ji' %}">查看更多</a>
    </div>
    <div class="main">
      {% for a in categories.非凡战绩|slice:":4" %}
        <a class="item" style="background-image: url('{{ a.cover.url }}')" href="{% url 'pc_article' a.id %}">
          <div class="blur-container">
            <span>{{a.title}}</span>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
<div class="people teacher">
  <div class="container">
    <div class="title"></div>
    <div class="look-all">
      <a href="{% url 'pc_category_by_uri' 'fei-fan-ming-shi' %}">查看更多</a>
    </div>
    <div class="main people-main">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
        <div class="swiper-wrapper">
          {% for a in categories.非凡名师 %}
            <div class="item swiper-slide" style="background-image: url('{{ a.cover.url }}')">
              <a class="blur-container" href="{% url 'pc_article' a.id %}">
                <div class="top">{{a.title}}</div>
                <div class="p-content">
                  <div class="name">{{a.title}}</div>
                  <i class="icon"></i>
                  <div class="desc">
                    {{a.desc}}
                  </div>
                  <div class="label">
                    {{ a.tags.all.0 }}
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="toutiao school">
  <div class="container">
    <div class="title"></div>
    <div class="look-all">
      <a href="{% url 'pc_category_by_uri' 'xiao-qu-jie-shao' %}">查看更多</a>
    </div>
    <div class="main">
      {% for a in categories.校区介绍 %}
      <a class="item" style="background-image: url('{{ a.cover.url }}')" href="{% url 'pc_article' a.id %}">
        <div class="blur-container act-item-cover sub{{forloop.counter}}">
          <strong>
            <span>{{ a.title }}</span>
          </strong>
          <style>
            .sub{{forloop.counter}}:before {
              background-image: url("{{ a.cover.url }}");
            }
          </style>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
<div class="people student" style="margin-top: 50px;">
  <div class="container">
    <div class="title"></div>
    <div class="look-all">
      <a href="{% url 'pc_category_by_uri' 'you-xiu-xue-yuan' %}">查看更多</a>
    </div>
    <div class="main people-main">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-wrapper">
        {% for a in categories.优秀学员 %}
          <div class="item swiper-slide" style="background-image: url('{{ a.cover.url }}')">
            <a class="blur-container" href="{% url 'pc_article' a.id %}">
              <div class="top">{{a.title}}</div>
              <div class="p-content">
                <div class="name">{{a.title}}</div>
                <i class="icon"></i>
                <div class="desc">
                  {{a.desc}}
                </div>
                <div class="label">
                  {{ a.tags.all.0 }}
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="intro">
  <style>
    .intro .intro-wrap .intro-top {
      z-index: auto;
    }
  </style>
  <div class="title"></div>
  <div class="container">
    <div class="intro-wrap">
      {% for a in categories.关于非凡 %}
        <a href="{% url 'pc_article' a.id %}" class="item">
          <div class="intro-top">
            <div class="default">
              <i class="icon" style="background-image:url('{% static "img/home/about-feifan/" %}{{ forloop.counter0}}.png')"></i>
              <h3 class="title">{{a.title}}</h3>
            </div>
            <div class="hover">
              <img src="{{ a.cover.url }}" alt="">
              <h3 class="title">{{a.title}}</h3>
            </div>
          </div>
          <div class="intro-main">
              {{a.desc}}
          </div>
          <div class="intro-footer">
            <i class="right"></i>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
<div class="dock" id="dock">
  <div></div>
  <div class="dockMain">
    <form id="dockForm" onsubmit="return false;">
      <p>
        <span>
          联系电话: <br />
          <small>400-050-9886</small>
        </span>
        <span class="introduction">
            免费领取 价值1280元 课程礼包
        </span>

        <span>
          <input type="hidden" name="aim" value="领取1280元礼包">
          <input type="hidden" name="product" value="1280元礼包">
          <input type="text" name="name" required="required"
            placeholder="请输入你的姓名" data-label="姓名">

          <input type="text" name="phone" required="required"
            placeholder="请输入你的电话" data-label="电话">
        </span>

        <span>
          <button id="dockBtn" class="dockBtn">立即预约</button>
        </span>
      </p>
    </form>
  </div>
</div>
{% endblock %}

{% block foot %}
<script>
  ;(function($) {
    $(function() {
      $('.player').on('click', function() {
        $('.play-video').slideDown(500);
      });
      $('.play-video').find('.close').on('click', function() {
        $('.play-video').slideUp(500);
        $('.play-video').find('video')[0].pause(); // pause video
      })
    })
  })(jQuery);
</script>
<script> (function () {
    var _53code=document.createElement("script");
    _53code.src = "https://tb.53kf.com/code/code/10157157/1";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(_53code, s);

   })(); </script>
{% endblock %}