{% extends 'pc/base.html' %}
{% load staticfiles %}

{% block keyword %} {{category.title}} {% endblock %}

{% block description %} {{category.title}} {% endblock %}

{% block title %}{{category.title}}-{{site_name}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "css/information/information.css" %}">

{% endblock %}

{% block body %}
<div class="page">
    {% include 'pc/_nav.html' with link=category.title %}
</div>

<div class="tags-wrapper">
    <div class="tags">
      <div class="swiper-wrapper">
        {% for t in tags %}
        <a href="{% url 'pc_category' category.id %}?tag={{t}}" class="swiper-slide {% if t.tag == tag %} active {% endif %}">{{t.tag}}</a>
        {% endfor %}
      </div>
    </div>
    <style>
      .tags-wrapper {
        margin-top: 43px;
        margin-bottom: -43px;
        position: relative;
        height: 60px;
        z-index: 10;
      }
      .tags {
        height: 60px;
        width: auto;
        max-width: 1200px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        border: 2px solid #e8e8e8;
        box-sizing: border-box;
      }
      .swiper-slide {
        display: block;
        color: #555;
        width: auto !important;
        box-sizing: border-box;
        padding: 10px 23px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .swiper-slide:hover {
        color: #ff9c00;
      }
      .swiper-slide.active {
        color: #ff9c00;
      }
      .swiper-slide:not(:last-child) {
        border-right: 2px solid #e8e8e8;
      }
    </style>
  </div>

<div class="main">
    <div class="centre">
      <style>
        .main .centre .information {
          height: 120px;
          margin-bottom: 24px;
        }
        .main .centre .information:hover .btn button {
          background-color: #FFE100 !important;
          color: #2C2C2C !important;
        }
        .main .centre .information .information-img {
          position: relative;
          width: 149px;
          overflow: hidden;
        }
        .main .centre .information .information-img>img {
          width: auto;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
        .main .centre .information .content .information-title {
          font-size: 18px;
          color: #333;
          margin-top: -4px;
        }
        .main .centre .information .content .btn {
          margin-top: 16px;
        }
        .main .centre .information .content .btn>a {
          cursor: pointer;
        }
        .main .centre .information .content .btn>a button {
          font-size: 14px;
          background-color: transparent;
          transition: background-color .5s;
          color: #b2b2b2;
        }
      </style>
      {% for a in articles %}
      <div class="information">
          <div class="information-img">
              <img src="{{a.cover.url}}" alt="{{a.title}}">
          </div>

          <div class="content">
            <div class="information-title">
              <p>{{a.title}}</p>
            </div>

            <div class="btn">
                <a href="{% url 'pc_article' a.id %}">
                <button>查看详情</button>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <script>
      function _defineProperty(obj, key, value) { if (key in obj) { Object.defineProperty(obj, key, { value: value, enumerable: true, configurable: true, writable: true }); } else { obj[key] = value; } return obj; }

      $(document).ready(function () {
        var index = $('.tags').find('.swiper-slide.active').index();

        var mySwiper = $('.tags').swiper(_defineProperty({
          initialSlide: index,
          slidesPerView: 'auto',
          freeMode: true,
          freeModeMomentumRatio: 0.5
        }, 'slidesPerView', 'auto')).on('touchstart', function (e) {
          e.preventDefault();
        });

      });
    </script>

{% endblock %}
