{% extends 'pc/base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static "css/articleDetails/articleDetails.css" %}">  
{% endblock %}

{% block body %}
<div class="page">
    {% include 'pc/_nav.html' with link=link %}
</div>

<div class="title">
  <div>
    <p>{{article.title}}</p>
  </div>
</div>

<div class="main">
  <div class="centre">
    {% if article.pc_content %}
      {{article.pc_content | safe}}
    {% else %}
      {{article.content | safe}}
    {% endif %}
    <div class="recomend">
      <h2>头条推荐</h2>
      {% for a in recommends|slice:":4" %}
        <div class="item">
          <div class="img">
            <img src="{{a.cover.url}}" alt="">
          </div>
          <div class="title">{{ a.title }}</div>
        </div>
      {% endfor %}
      <div style="clear: both;"></div> 
    </div>
    <style>
      .recomend {
        margin-top: 60px;
        margin-bottom: 50px;
        box-sizing: border-box;
        padding: 0 10px;
        padding-top: 20px;
        border-top: 1px solid rgba(0, 0, 0, .1);
      }
      .recomend>h2 {
        font-size: 18px;
        line-height: 25px;
        color: #808080;
        font-weight: normal;
        margin-bottom: 30px;
      }
      .recomend .item {
        width: 200px;
        height: 200px;
        float: left;
        transition: all .5s;
      }
      .recomend .item:hover {
        box-shadow: 0 4px 20px 4px rgba(0, 0, 0, .08);
        transform: translateY(-4px);
      }
      .recomend .item:not(:last-child) {
        margin-right: 10px;
      }
      .recomend .item .img {
        width: 200px;
        height: 110px;
        position: relative;
        overflow: hidden;
      }
      .recomend .item .img>img {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      .recomend .item .title {
        height: 90px;
        background: #fff;
        box-sizing: border-box;
        padding: 16px 10px 0 10px;
        color: #333333;
        font-size: 14px;
        line-height: 20px;
      }
    </style>
  </div>
</div>
{% endblock %}