{% extends 'pc/base.html' %}
{% load staticfiles %}

{% block keyword %} 杭州画室排名,杭州美术培训班，老鹰 画室，孪生画室，白塔岭画室，厚一画室 {% endblock %}

{% block description %} 非凡教育一家知名的艺术生文化课 补习培训机构，与杭州各大画室美术培训中心，都建立的良好的合作关系 ，长期为老鹰，孪生，厚一，白塔岭等提供高考冲刺提升课程。 {% endblock %}

{% block title %}杭州画室排名,杭州美术培训班，老鹰画室，孪生画室，白塔岭画 室，厚一画室-非凡教育官方网站{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "css/studio.css" %}"> 
{% endblock %}

{% block body %}
<div class="page">
    {% include 'pc/_nav.html'%}
</div>

<div>
    <img src="{{cat.cover.url}}" class="banner-cover" draggable="false">
    <section class="studios">
        <div class="studios-title">
            <h2>杭州画室大全</h2>
            <span>STUDIOS OF HANGZHOU</span>
        </div>
        <div class="studios-list">
            {% for s in studios %}
            <article class="studio">
                <img src="{{s.cover.url}}" class="studio-cover"/>
                <div class="studio-content">
                   <h3 class="studio-title">{{s.title}}</h3>
                   <p class="studio-desc">{{s.desc}}</p>
                   <div class="studio-link">
                       <a href="{% url 'pc_article' s.id %}">查看详情</a>
                   </div>
                </div>
            </article>
            {% endfor %}
        </div>      
    </section>

    <section class="studios">
            <div class="studios-title">
                    <h2>非凡头条</h2>
                    <span>NEWS OF FEIFAN</span>
                </div>
        <div class="studios-list">
            {% for s in news|slice:':5' %}
            <article class="studio">
                <img src="{{s.cover.url}}" class="studio-cover"/>
                <div class="studio-content">
                   <h3 class="studio-title">{{s.title}}</h3>
                   <p class="studio-desc">{{s.desc}}</p>
                   <div class="studio-link">
                       <a href="{% url 'pc_article' s.id %}">查看详情</a>
                   </div>
                </div>
            </article>
            {% endfor %}
        </div>      
    </section>
</div>

{% endblock %}
